<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>美女图片</title>
    <link href="__CSS__/Service/news.css" rel="stylesheet">
    <link href="__Ext__/Bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container" id="daily">
        <div class="jscroll-inner">
            <div class="daily">
                <h3 class="date">
                    <i class="fa fa-calendar"></i>
                    <span>今日头条</span>
                    <small>{$date}</small>
                </h3>

                <foreach name="beautyList" item="list">
                    <div class="post">
                        <div class="btn-group-vertical upvote">
                            <a class="btn btn-default like-button" ><i class="fa fa-thumbs-o-up"></i> <span>36</span></a>
                            <a class="btn btn-default btn-xs favorite-button" ><i class="fa fa-bookmark-o"></i> <span>131</span></a>
                        </div>
                        <div class="content" data-url="{$list.url}">
                            <h3 class="title">
                                <a target="_blank" rel="external" href="{$list.url}">{$list.title}</a>
                            </h3>
                            <div class="meta">
                                {$list.description}&nbsp;
                                <span><i class="fa fa-comment-o"></i> {$list.ctime}</span>
                            </div>
                        </div>
                        <div class="user-info">
                            <div class="user-avatar">
                                <a href="#">
                                    <img width="32" src="{$list.picUrl}">
                                </a>
                            </div>
                        </div>
                        <div class="subject-name">
                            <a href="#">{$list.description}</a>
                        </div>
                    </div>
                </foreach>
            </div>
        </div>
    </div>

</body>
</html>